#Content_top
{
top:300px;
left:350px;
position: absolute;

}

#Content_n1
{
top:800px;
left:300px;
position: absolute;
}
#Content_n2
{
top:770px;
left:400px;
position: absolute;
}
#Content_n3
{
top: 1000px;
left: 300px;
position: absolute;
}
#Content_n4
{
top:980px;
left: 400px;
position: absolute;
}
#Content_n5
{
top: 1170px;
left:300px;
position: absolute;
}
#Content_n6
{
top: 1160px;
left:400px;
position: absolute;
}
#Content_n7
{
top: 1350px;
left:300px;
position: absolute;
}
#Content_n8
{
top: 1330px;
left:400px;
position: absolute;
}
#footer{
    height: 105px;
    clear: both;
    background-color: black;
    text-align: center;
    margin-top: 800px;
}  
p.boot{

color: white;


}
