#L1
{
	margin-top: 0px;
	margin-left: 300px;
 margin-left: 300px;
 margin-top: 0px;
}  
#footer{
    height: 105px;
    clear: both;
    background-color: black;
    text-align: center;
    margin-top: 0px;
}  
p.boot{

color: white;


}

